<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404- Page not found!</title>
    <style>
        body{
            background-color: rgb(186, 187, 189);
        }
        h1{
            text-align: center;
            font-size: 100px;
            color: rgb(49, 49, 49);
        }
        p{
            text-align: center;
            font-size: 40px;
            color: rgb(49, 49, 49) ;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>:(</p>
    <p>Page not found!</p>
    <p>The page you are looking for doesn't exist or an another error has occured.</p>
    
</body>
</html>